.full_skill {
  background-color: aliceblue;
  border-radius: 10px;
  width: 70%;
  margin: 0 auto;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.title_h2 {
  text-align: center;
  font-size: 24px;
  padding: 40px;
  color: #2f74c0;
}

.My_skills {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 130px;
  padding: 0 0 0 20px;
  border-radius: 10px;
  margin-bottom: 30px;
  background-color: white;
  align-items: center;
  justify-content: center;
}

.My_skills_title {
  color: #2f74c0;
  pointer-events: none;
}

.My_skills_content {
  display: flex;
  flex-direction: row;
  width: 55%;
  align-items: center;
  justify-content: space-evenly;
}

.icon1,
.icon2,
.icon3,
.icon4,
.icon5,
.icon6,
.icon7,
.icon8,
.icon9 {
  width: 33px;
  height: 33px;
}

.icon1 {
  color: red;
}

.icon2,
.icon5,
.icon9 {
  color: #2468ee;
}

.icon3 {
  color: #efd81d;
}

.icon4 {
  color: #2f74c0;
}

.icon6 {
  color: #30a26e;
}

.icon7 {
  color: #3c7ce6;
}

.icon8 {
  color: #000000;
}

@media (max-width: 678px) {
  .My_skills {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 0 0 0 20px;
    border-radius: 10px;
    margin-bottom: 30px;
    background-color: white;
    align-items: center;
    justify-content: center;
  }

  .My_skills_content {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
  }
}

@media (max-width: 510px) and (min-width: 360px) {
  .full_skill {
    width: 85%;
  }
  .title_h2 {
    font-size: 16px;
    margin-bottom: -30px;
  }
  .My_skills_title {
    font-size: 17px;
  }

  .icon1,
  .icon2,
  .icon3,
  .icon4,
  .icon5,
  .icon6,
  .icon7,
  .icon8,
  .icon9 {
    width: 24px;
    height: 24px;
    margin-top: 10px;
  }
}
